/*-------住宿小卡-------------------------------------------------------------------------------------------------------------------------*/
.hotelBlock .lion{
	margin-right: 6px;
}

.hotelBlock{
	width: 100%;
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-radius: 0px 0px 10px 10px;
}

.hotelBlock>.title{
	background-color: #4568b1;
	color:#FFF;
	border-radius: 0px 0px 10px 10px;
	padding: 10px 0px;
	text-align: center;
	font-size: 14pt;
}

.hotelBlock>.title::before{
	content:'';
	background-image:url("../img/ic_hotel@2x.png");
	background-repeat:no-repeat;
	background-position:center;
    background-size:24px 24px;
	display: inline-block;
	margin-right: 6px;
    width:24px;
    height:24px;
	top: 5px;
	vertical-align: top;
	overflow: hidden;
}

.hotelBlock.active .content{
	display: block;
}

.hotelBlock.active>.title{
	display: block;
	border-radius: 10px 10px 0px 0px;
}

.hotelBlock .content{
	display: none;
	background-color: #FFF;
	border-radius: 0px 0px 10px 10px;
	padding: 13px 8px 25px 8px;
}

.hotelBlock .content .itemInfo{
	position: relative;
	padding-left: 100px;
}

.hotelBlock .content .itemInfo .title{
	font-size: 13pt;
	margin-bottom: 5px;
}

.hotelBlock .content .itemInfo .itemThumbnail{
	position: absolute;
	top: 0px;
	left: 8px;
	width: 80px;
	height: 80px;
	overflow: hidden;
}

.hotelBlock .content .itemInfo .itemThumbnail>img{
	width: 100%;
	min-height: 80px;
}

.hotelBlock .content .itemInfo .detailBtn{
	display: block;
}

.hotelBlock .content .itemInfo .detailBtn ul{
	display: inline-block;
	padding: 0px;
}

.hotelBlock .content .itemInfo .detailBtn ul li{
	display: inline-block;
	padding: 0px;
	margin-right: 14px;
	cursor: pointer;
}

.hotelBlock .content .itemInfo .detailBtn ul li:last-child{
	margin-right: 0px;
}

.hotelBlock .content .itemInfo .detailBtn ul li.fa{
	margin-right: 4px;
}

.location::before{
	content:'';
	background-image:url("../img/ic_location@2x.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size:16px 16px;
	display: inline-block;
	margin-right: 6px;
    width:16px;
    height:16px;
	top: 4px;
	vertical-align: top;
	overflow: hidden;
}

.map::before{
	content:'';
	background-image:url("../img/ic_map@2x.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size:16px 16px;
	display: inline-block;
	margin-right: 6px;
    width:16px;
    height:16px;
	top: 4px;
	vertical-align: top;
	overflow: hidden;
}

.detail::before{
	content:'';
	background-image:url("../img/ic_poi_description@2x.png");
	background-repeat:no-repeat;
	background-position:center;
    background-size:16px 16px;
	display: inline-block;
	margin-right: 6px;
    width:16px;
    height:16px;
	top: 4px;
	vertical-align: top;
	overflow: hidden;
}

.hotelBlock .content .itemInfo .mealType>select{
	height: 20px;
	width: 160px;
	border: 1px solid #CCC;
	border-radius: 0px;
	background-color: #FFF;
}

.hotelBlock .content .itemInfo.noHotel{
	padding: 30px 0px 30px 0px;
	font-size: 16px;
	color: #4A4A4A;
}

.hotelBlock .content .itemInfo.noHotel i.fa{
	color: #CCC;
	margin-right: 4px;
}
/*-------交通小卡-------------------------------------------------------------------------------------------------------------------------*/
.trafficItem{
	background: url("../img/time_line.png") 20px center no-repeat;
	padding: 0px 0px 8px 60px;
	cursor: pointer;
}

.trafficItem i.lion {
	margin-right: 5px;
}
/*-------i icon-------------------------------------------------------------------------------------------------------------------------*/
i.lion.hotel {
	top: 5px;
	width: 24px;
	height: 24px;
	background: url("../img/ic_hotel@2x.png") center center no-repeat;
	background-size: 24px 24px;
}

i.lion.location {
	top: 5px;
	width: 20px;
	height: 20px;
	background: url("../img/ic_location@2x.png") center center no-repeat;
	background-size: 20px 20px;
}

i.lion.map {
	top: 2px;
	width: 16px;
	height: 13px;
	background: url("../img/ic_map@2x.png") center center no-repeat;
	background-size: 16px 13px;
}

i.lion.detail{
	top: 4px;
	width: 16px;
	height: 16px;
	background: url("../img/ic_poi_description@2x.png") center center no-repeat;
	background-size: 16px 16px;
}

i.lion.car {
	top: 3px;
	width: 20px;
	height: 20px;
	background: url("../img/ic_directions_car@2x.png") center center no-repeat;
	background-size: 30px 30px;
}
